.column-line { border-bottom: 2px solid #2d5a27; padding-bottom: 8px; margin-bottom: 24px; width: 100%; }

.nav-tab { 
    cursor: pointer; 
    padding-bottom: 8px; 
    border-bottom: 4px solid transparent; 
    transition: all 0.2s; 
    opacity: 0.4; 
    text-transform: uppercase; 
    font-weight: bold; 
    font-size: 0.75rem; 
    letter-spacing: 0.1em; 
}

.nav-tab-active { 
    opacity: 1; 
    border-bottom: 4px solid #2d5a27; 
}

.hidden { 
    display: none !important; 
}
